:root {
  --twitter-color: rgb(29, 155, 240);
  --twitter-background: #e6ecf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.sidebar {
  flex: 0.2;
  min-width: 250px;
  padding: 0 20px;
  position: fixed;
}

.sidebar-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 0 15px 20px;
  gap: 20px;
  transition: all 0.1s ease-in-out;
  border-radius: 30px;
}

.twitter-icon-container {
  padding-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  transition: all 0.1s ease-in-out;
}

.twitter-icon {
  color: var(--twitter-color);
  cursor: pointer;
}

.header-icon-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

/*Sidebar options diff hover effect*/
.Home {
  width: 70%;
  text-decoration: none;
  color: black;
}

.Explore {
  width: 77%;
}

.Notifications {
  width: 96%;
}

.Messages {
  width: 89%;
}

.Bookmark {
  width: 87%;
}

.More,
.Lists {
  width: 66%;
}

.Profile {
  width: 72%;
  text-decoration: none;
  color: black;
}

.header-icon-container:hover,
.sidebar-option:hover {
  background-color: var(--twitter-background);
}

.picture-icon-container:hover,
.twitter-icon-container:hover {
  background-color: rgb(29, 155, 240, 0.1);
}

.sidebar-option > h2 {
  font-weight: 400;
  font-size: 20px;
  margin-right: 20px;
}

.sidebar-option-active {
  color: var(--twitter-color);
}

.sidebar-icons {
  font-size: 30px !important;
}

.tweet-box-tweet-btn,
.sidebar-tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 55px !important;
  width: 90% !important;
  margin-top: 5px !important;
  font-size: 16px !important;
}

.sidebar-tweet:hover,
.tweet-box-tweet-btn:hover {
  background-color: rgb(26, 138, 212) !important;
}

.profile-sidebar-bottom {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 0 15px;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
}

.profile-sidebar-bottom:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.log-out-modal {
  position: absolute;
  top: 15px;
  left: 80%;
}

.log-out-btn {
  width: 100px !important;
}

.profile,
.feed {
  flex: 0.475;
  border-right: 1px solid var(--twitter-background);
  border-left: 1px solid var(--twitter-background);
  min-width: fit-content;
  margin-left: auto;
  /*overflow-y: scroll;  removes position fixed on the header*/
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 1320px;
}
/*removes scrollbar*/
.feed::-webkit-scrollbar {
  display: none;
}

.feed-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 10;
  padding: 5px 15px;
  height: 50px;
  opacity: 0.9;
}

.link {
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.tweet-box {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--twitter-background);
  padding-right: 20px;
}

.tweet-box > form {
  display: flex;
  flex-direction: column;
}

.tweet-box-input {
  display: flex;
  padding: 20px 20px 0px 20px;
}

.tweet-box-input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.tweet-box-image-input {
  border: none;
  outline: none;
}

.tweet-box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16%;
}

.tweet-box-tweet-btn {
  width: 80px !important;
  height: 35px !important;
}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.post-body {
  flex: 1;
  padding: 10px 10px 10px 0;
}

.post-body > img {
  border-radius: 20px;
  width: 500px;
  height: 300px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 50px;
}

.verif-icon {
  font-size: 18px !important;
  color: var(--twitter-color);
}

.at,
.post-header-special {
  font-weight: 600;
  font-size: 15px;
  color: gray;
}

.post-header-text > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post-header-desc {
  margin-bottom: 10px;
  font-size: 15px;
}

.post-avatar {
  padding: 10px 13px;
}

.widgets {
  flex: 0.3;
  position: relative;
}

.widgets-input-container {
  height: 50px;
  padding: 5px 20px;
  position: fixed;
  background-color: white;
}

.widgets-input-container > input {
  border: none;
  background-color: var(--twitter-background);
  outline: none;
  width: 365px;
  padding: 12px;
  border-radius: 20px;
  padding-left: 15%;
  font-size: 16px;
}

.widgets-input-container > input:focus {
  border: 1px solid var(--twitter-color);
}

.widgets-search-icon {
  color: gray;
  position: absolute;
  top: 13px;
  left: 35px;
}

.widgets-widget-container {
  margin-top: 60px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets-widget-container > h2 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  z-index: 100;
  display: flex;
  color: rgb(214, 217, 219);
}

img[alt*="twitter-login"] {
  width: 55%;
}

.login-menu {
  margin-left: 35px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

.login-menu > h1 {
  font-size: 70px;
}

.login-menu > h3 {
  font-size: 40px;
}

.logo-login {
  font-size: 50px !important;
}

.form-btns {
  display: flex;
  flex-direction: column;
  gap: 35px 0;
  position: relative;
}

.and,
.or {
  position: absolute;
  left: 8%;
  top: 47px;
  text-decoration: underline;
}

.or {
  left: 26%;
  top: 57px;
}

.sign-up-inputs {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  border-radius: 12px;
}

.btns-login-menu,
.login-btns {
  background-color: var(--twitter-color) !important;
  color: white !important;
  font-weight: 800 !important;
  font-size: 16px !important;
  border-radius: 10px !important;
  width: 150px;
}

.btns-login-menu {
  width: 300px;
  font-size: 14px !important;
}

.btns-login-menu:hover,
.login-btns:hover {
  background-color: rgb(27, 129, 197) !important;
}

.first-btn-login {
  gap: 0 10px;
}

.text-info {
  width: 95%;
  line-height: 1.3;
}
